extends layout

block content

	h1 DRINK

	div
		img(src='images/icon_drink.png').checkpoint_icon

	if username
		div
			div Logged in as <b>#{username}</b>
			form(name="use", method="post")
				input(type="submit", name="use_drink", value="Drink!")

	div.pointlinks
		a(href='./') Back
