extends layout

block content

	h1 FOOD

	div
		img(src='images/icon_food.png').checkpoint_icon

	if username
		div
			div Logged in as <b>#{username}</b>
			form(name="use", method="post")
				input(type="submit", name="use_food", value="Eat!")

	div.pointlinks
		a(href='./') Back
