!!! 5
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/anders-font.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body      
    div#main 
      block content